{% extends 'base.html' %}

{% block content %}

        <div class="container px-lg-5"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="text-center">DETAIL</h1><br>
                    </div>
                </div>
            </div>
            <div style="margin-left: 310px;" class="bs-example">
                <div class="card" style="width: 25rem;">
                    <ul class="list-group list-group-flush">
                        <!-- <li class="list-group-item">Format : {{data.foto}}</li> -->
                        <li class="list-group-item">Judul : {{data.nama}}</li>
                        <li class="list-group-item">Tahun : {{data.alamat}}</li>
                        <li class="list-group-item">Genre : {{data.no}}</li>
                        <li class="list-group-item">Pengarang : {{data.biaya}}</li>
                        <li class="list-group-item">Format : {{data.kelamin}}</li>
                        <li class="list-group-item">Format : {{data.ampu}}</li>
                        <li class="list-group-item">Format : {{data.usia}}</li>
                        <li class="list-group-item">Format : {{data.catatan}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'pengajar' %}" style="margin-left: 280px;" class="btn btn-danger" class="card-link">Back</a>
                    </div>
                </div>
            </div>
                                
 {% endblock %}
