{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{%static 'assets/img/logo/4.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                 <div class="container">
                     <div class="row align-items-center">
                         <div class="col-lg-3 col-md-2">
                             <!-- Logo -->
                             <div class="logo">
                                 <a href="{% url 'home' %}"><img style="width: 120px;" src="{%static 'assets/img/logo/3.jpg' %}" alt=""></a>
                             </div>  
                         </div>
                         <div class="col-lg-9 col-md-9">
                             <div class="menu-wrapper">
                                 <!-- Main-menu -->
                                 <div style="margin-left: 60px;" class="main-menu">
                                     <nav class="d-none d-lg-block">
                                         <ul id="navigation">
                                             <li><a href="{% url 'home' %}">Home</a></li>
                                             <li><a href="{% url 'Hguru' %}">Guru </a></li>
                                             <li><a href="#">Page</a>
                                                 <ul class="submenu">
                                                     <li><a href="{% url 'sd' %}">SD</a></li>
                                                     <li><a href="{% url 'smp' %}">SMP</a></li>
                                                     <li><a href="{% url 'sma' %}">SMA</a></li>
                                                 </ul>
                                             </li>
                                             <li><a href="{% url 'Habout' %}">About</a></li>
                                             <li>
                                                 <a href="{% url 'sd' %}">
                                                     Profil <strong>{{ user }}</strong>
                                                 </a>
                                             </li>
                                         </ul>
                                     </nav>
                                 </div>          
                                 <!-- Header-btn -->
                                 <a style="margin-bottom: 15px;" class="btn btn-danger" href="{% url 'keluar' %}">logout</a>
                             </div>
                         </div>
                         <!-- Mobile Menu -->
                         <div class="col-12">
                             <div class="mobile_menu d-block d-lg-none"></div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <h1 style="text-align: center;">INI HALAMAN SMP</h1>

{% endblock %}